.register,
.login {
  background-color: var(--grey-alabaster);

  @include grid-12-vw-px-bleed;
  @include fluid('padding-top', $space-m, $space-xxl);
  @include fluid('padding-bottom', $space-m, $space-xxl);

  &__form {
    grid-row: 1/2;
    grid-column: col-start 2 / col-end 11;

    @include fluid('margin-bottom', $space-r, $space-l);
  }

  &__text {
    @include fluid('font-size', $r, $lr);
    @include fluid('line-height', $line-height-r, $line-height-lr);

    grid-row: 2/3;
    grid-column: col-start 2 / col-end 11;
    margin-bottom: 0;
  }

  &__formgroup {
    @include fluid('padding-bottom', $space-r, $space-m);
  }
}

.alert-danger {
  background: var(--red-valencia);

  @include grid-12-vw-px-bleed;
  @include fluid('padding-top', $space-r, $space-m);
  @include fluid('padding-bottom', $space-r, $space-m);

  border-bottom: 2px solid #fff;

  &__msg {
    color: var(--white);

    font-weight: 500;
    @include fluid('font-size', $r, $lr);

    grid-column: col-start 2 / col-end 11;

    margin-bottom: 0;
  }
}
