html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-size: var(--base-font-size);

  overflow-y: scroll;

  height: 100%;
}

html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
article,
aside,
footer,
header,
hgroup,
nav,
section {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html,
body,
button,
input,
table,
td,
th {
  font-family: 'Roboto', Arial, sans-serif;
}

body {
  background: var(--white);
  color: var(--black);
  font-size: $r;
  line-height: $line-height-r;
  //from gov.uk
  -webkit-tap-highlight-color: transparent;
  -ms-overflow-style: scrollbar;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;

  min-height: 100%;
  height: 100%;
}

h1 {
  font-weight: bold;
  @include fluid('font-size', $m, $xxl);
  @include fluid('line-height', $line-height-m, $line-height-xxl);
  @include fluid('margin-bottom', $margin-bottom-m, $margin-bottom-xxl);

  //font-size: 2.25rem;
  //@include fluid('font-size', 2.25rem, 4.75rem);
  //@include fluid('line-height', 1 * 2.25rem, 4 * 4.75rem);
  //@include fluid('margin-left', 10px, 20px, 40px);
  //@include fluid('margin-left', 10%, 40%);
}

h2 {
  font-weight: 500;
  @include fluid('font-size', $m, $xl);
  @include fluid('line-height', $line-height-m, $line-height-xl);
  @include fluid('margin-bottom', $margin-bottom-m, $margin-bottom-xl);
  //@include fluid-font(($m-m, null, null, $xl-m));

  //@include fluid((10px, null, 20px), 'margin-bottom');
}

h3 {
  font-weight: 500;
  @include fluid('font-size', $lr, $l);
  @include fluid('line-height', $line-height-lr, $line-height-l);
  @include fluid('margin-bottom', $margin-bottom-lr, $margin-bottom-l);
}

p {
  margin: 0;
  padding: 0;
  margin-bottom: $margin-bottom-m;
}

a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type='text'],
input[type='email'],
input[type='password'] {
  font-family: 'Roboto', sans-serif;
  font-size: $r;
  line-height: $line-height-r;

  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #bebebe;
  padding: 7px;
  margin: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
  width: 100%;
  max-width: 300px;
}

input[type='text']:focus,
input[type='email']:focus,
input[type='password']:focus {
  -moz-box-shadow: 0 0 8px #88d5e9;
  -webkit-box-shadow: 0 0 8px #88d5e9;
  box-shadow: 0 0 8px #88d5e9;
  border: 1px solid #88d5e9;
}

input[type='submit'],
input[type='button'] {
  font-family: 'Roboto', sans-serif;
  font-size: $r;
  line-height: $line-height-r;

  background: $blue-mariner;
  padding: 8px 15px 8px 15px;
  border: none;
  color: #fff;
}
input[type='submit']:hover,
input[type='button']:hover {
  background: $blue-madison;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
